<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <div>{{if ne .User ""}}
        <h1>Username : {{.User}}</h1>{{end}}
        <p>{{.Message}}</p>
    </div>
    <div>
        <h1>Registration Form</h1>
        <form action="/register" method="POST">
            <p><input type="text" name="first" placeholder="First Name"  autofocus></p>
            <p><input type="email" name="emailField" placeholder="Email"></p>
            <p><input type="password" name="passField" placeholder="Password"></p>
            <p><input type="submit" value="Register"></p>
        </form>
    </div>
    <div>
        <h1>Login Form</h1>
        <form action="/login" method="post">
            <p><input type="email" name="emailField" id="email" placeholder="Email"></p>
            <p><input type="password" name="passField" placeholder="Password"></p>
            <p><input type="submit" value="Login"></p>
        </form>
    </div>
    <div>
        <h1>Logout Form</h1>
        <form action="/logout" method="post">
            <p><input type="submit" value="Logout"></p>
        </form>
    </div>
    <div>
        <h1>Login with Heroku</h1>
        <form action="/oauth/heroku/login" method="post">
			<input type="submit" value="Login Via Heroku">
		</form>
    </div>
</body>
</html>