<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register {{.Provider}} Users</title>
</head>
<body>
    <div>
        <h1>Registration Form for {{.Provider}} Users</h1>
        <form action="/oauth/{{.ProviderURI}}/register" method="POST">
            <p><input type="text" name="first" placeholder="First Name" {{if ne .Name "" }} value="{{.Name}}" {{end}} autofocus></p>
            <p><input type="email" name="emailField" placeholder="Email" {{if ne .Email "" }} value="{{.Email}}" {{end}}></p>
            <p><input type="number" name="age" placeholder="Enter your Age" min="14" max="100" {{if ne .Age "" }} value="{{.Age}}" {{end}}></p>
            <p><label for="terms">Terms of Agreement</label><input type="checkbox" name="terms" id="terms"></p>
            <input type="hidden" name="user" value="{{.ID}}">
            <p><input type="submit" value="Register"></p>
        </form>
    </div>
</body>
</html>